build --copt=-fno-asynchronous-unwind-tables
build --copt=-fno-unwind-tables
build --copt=-fno-exceptions
build --cxxopt=-fno-asynchronous-unwind-tables
build --cxxopt=-fno-unwind-tables
build --cxxopt=-fno-exceptions
