{:paths ["src/main/clojure" "src/main/resources" "target/classes"]

 :deps {org.clojure/clojure           {:mvn/version "1.12.0"}
        com.google.flatbuffers/flatbuffers-java {:mvn/version "25.1.24"}
        com.formdev/flatlaf            {:mvn/version "3.5.4"}
        hibiki/gui-lib                 {:local/root "bazel-bin/hibiki-gui-echo_deploy.jar"}}

 :aliases
 {;; Run the Clojure GUI:  clj -M:run
  :run {:main-opts ["-m" "hibiki.ui.core"]}

  ;; Run Clojure tests:  clj -X:test
  :test {:extra-paths ["src/test/clojure"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"
                     "-d" "src/test/clojure"]
         :exec-fn cognitect.test-runner.api/test
         :exec-args {:dirs ["src/test/clojure"]}}

  ;; Run Clojure tests (custom runner):  clj -M:test-runner
  :test-runner {:extra-paths ["src/test/clojure"]
                :main-opts ["-m" "hibiki.test-runner"]}

  ;; Socket REPL + GUI:  clj -M:repl
  :repl {:main-opts ["-m" "hibiki.repl"]}

  ;; Echo hybrid frontend (Java components + Clojure glue):  clj -M:echo
  :echo {:main-opts ["-m" "hibiki.echo"]}

  ;; Echo + Socket REPL:  clj -M:echo:dev
  :dev {:main-opts ["-m" "hibiki.echo.dev"]}}}
